h1{
  color:darkblue;
  text-align: center;
  font-style:italic;
  padding: 10px;
  margin: 20px;
}
h1#title{
  color:blue;
}
p.text{
  text-align: end;
}
p{
  color: #333;
  font-size: 18px;
}
.button{
  color: bisque;
  text-align: center;

}
.box {
  width: 200px;
  height: 50px;
  padding: 20px;
  border: 1px dotted red;
  margin: 33px;
  background-color: lightblue;
  box-sizing: border-box;


}